<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>WP Exam</title>
</head>
<body>

<div>
    <!-- The form below should invoke the method DiscussionController.showList -->
    <form id="filter-form">
        <label for="f1">Due in days</label>
        <input id="f1" type="number" name="daysUntilClosing"/>
        <label for="f2">Participant</label>
        <select id="f2" name="participantId">
            <option value="">All</option>
            <!-- For each user you should have one <option> like below  -->
            <option th:each="participants:${participants}" th:value="${participants.id}" th:text="${participants.username}"> [user] </option>
        </select>
        <button id="filter" type="submit">Filter</button>
    </form>
    <div>
            <!-- DiscussionController.showAdd (Only MASTER can see this element)-->
            <a th:href="@{'/discussions/add'}"  class="add-item" sec:authorize="hasRole('ROLE_MASTER')">
                Add
            </a>
    </div>
    <table>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Tag</th>
            <th>Participants</th>
            <th>Actions</th>
        </tr>
        <!-- For each discussion you should have one <tr> like below -->
        <tr class="item" th:each="discussion:${discussions}">
            <td th:text="${discussion.title}">[discussion.title]</td>
            <td th:text="${discussion.description}">[discussion.description]</td>
            <td th:text="${discussion.tag}">[discussion.tag]</td>
            <td>
                <!-- For each of the discussion.participants show the following element-->
                <span class="item-rel" th:each="participant:${discussion.participants}" th:text="${participant.username}"> [participant.username]</span>
            </td>
            <td>

                    <!-- DiscussionController.delete (Only MASTER can see this element)-->
                    <form method="post" th:action="@{'/discussions/{id}/delete' (id=${discussion?.id})}" sec:authorize="hasRole('ROLE_MASTER')">
                        <button type="submit"  class="delete-item">Delete</button>
                    </form>
                    <!-- DiscussionController.showEdit (Only MASTER can see this element)-->
                    <a class="edit-item" th:href="@{'/discussions/{id}/edit' (id=${discussion?.id})}" sec:authorize="hasRole('ROLE_MASTER')">Edit</a>

                <!-- DiscussionController.markPopular (Visible only when the discussion is not already popular)-->
                <form th:if="${!discussion.getPopular()}"  method="post" th:action="@{'/discussions/{id}/mark_popular' (id=${discussion?.id})}">
                    <button class="change-item">Mark as popular</button>
                </form>
            </td>
        </tr>
    </table>

</div>
<div>
    <ul id="nav">
        <li><a href="/">Home</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
</div>
</body>
</html>
